<aside class="sidebarleft">
  <section class="sidebarleft_center">
    <h2>Calendar</h2>
    <section class="sidebarleft_center_grid">
      <section>
        <article class="dayname">{{capitalize(calcDayName(todayDate))}}</article>
        <article class="date">{{todayDate}}/{{countThisMonthNumber}}/{{thisYear}}</article>
      </section>
      <section class="time" id="time">
        <article id="hours">{{hours}}</article>
        <hr>
        <article id="minutes">{{minutes}}</article>
        <hr>
        <article id="seconds">{{seconds}}</article>
      </section>
    </section>
  </section>
</aside>