<main>
  <div class="sidebarleft">
    <div class="sidebarleft_center">
      <h2>Calendar</h2>
      <div class="sidebarleft_center_grid">
        <div>
          <p class="dayname">DAGNAAM</p>
          <p class="date">DATUM</p>
        </div>
        <div class="time" id="time">
          <p id="hours">UREN</p>
          <hr>
          <p id="minutes">MINUTEN</p>
          <hr>
          <p id="seconds">SECONDEN</p>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="month">
      <h2 id="monthname">MAAND</h2>
      <ul id="daysul"></ul>
    </div>
  </div>
  <div class="sidebarright"></div>
</main>