<main>
  <div class="sidebarleft">
    <div class="sidebarleft_center">
      <h2>Calendar</h2>
      <div class="sidebarleft_center_grid">
        <div>
          <p class="dayname">{{capitalize(calcDayName(todayDate))}}</p>
          <p class="date">{{todayDate}}/{{countThisMonthNumber}}/{{thisYear}}</p>
        </div>
        <div class="time" id="time">
          <p id="hours">{{hours}}</p>
          <hr>
          <p id="minutes">{{minutes}}</p>
          <hr>
          <p id="seconds">{{seconds}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="month">
      <h2 id="monthname">{{thisMonthName}}</h2>
      <ul id="daysul" *ngFor="let day of calendar">
        <li *ngIf="day.today" id="{{day.year}}-{{day.month}}_{{day.date}}" class="in today {{day.date}}"><a>{{day.day}}</a></li>
        <li *ngIf="!day.today" id="{{day.year}}-{{day.month}}_{{day.date}}" class="in {{day.day}}"><a>{{day.date}}</a></li>
      </ul>
    </div>
  </div>
  <div class="sidebarright"></div>
</main>